#### Editor ignores ####
# PHPStorm
.idea

# Netbeans
nbproject

# Sublime Text
*.sublime-project
*.sublime-workspace
.phpintel

# Zend Studio
.buildpath
.project
.settings

#### OS ignores ####
# Windows
Thumb.db

# Mac
.DS_Store

# Linux
*.swp

#### User config ignores ####
user.settings.php
